body {
	margin: 0 auto;
	width: 100%;
}
section {
    width: 100%;
}
.outer-text {
	margin: 0;
	background-color: #1b4d47;
	color: #dce8f3;
}
#head {
	position: absolute;
	top: 0;
	width: 100%;
	height: 150px;
}
.begin-text {
	display: inline-flex;
	justify-content: space-between;
	width: 95%;
	margin: 30px;
}
.full-name {
	font-family: 'Tangerine', cursive;
	color: #dce8f3;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.first-navbar {
	display: flex;
}

#top-navbar {
	display: inline-flex;
	justify-content: space-evenly;
	padding: 10px;
}

#bottom {
	display: inline-block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

#bottom-navbar,
#scroll {
	display: inline-block;
	justify-content: space-evenly;
	padding: 10px;
	align-content: center;
}

.section-one-background {
	background-image: url(https://res.cloudinary.com/deq09hmu3/image/upload/v1633995230/Portfolio/ali-kazal-z7ofnYF_qsI-unsplash-2_fnsjhk.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
#section-one {
	margin-top: 40px;
	border-radius: 3%;
	background-color: rgba(196, 196, 196, 0.5);
	backdrop-filter: blur(2px);
	background-position: center;
}
#name {
	font-family: 'Syncopate', sans-serif;
	color: #0c2942;
}
#welcome {
    font-family: 'Tangerine', cursive;
	color: #dce8f3;
}
#design {
	font-family: 'Syncopate', sans-serif;
	color: #dce8f3;
}
.section-head {
	text-shadow: black;
	font-family: 'Tangerine', cursive;
	color: #dce8f3;
	letter-spacing: 2px;
	font-weight: 100;
}
.section-text {
	text-shadow: black;
	font-family: 'Syncopate', sans-serif;
	color: #dce8f3;
	letter-spacing: 2px;
	font-weight: 300;
}
.contact-form {
	font-family: 'Syncopate', sans-serif;
	color: #dce8f3;
}
.contact-submit {
	font-family: 'Syncopate', sans-serif;
	color: #0c2942;
}

@media (max-width: 475px) {
	#head {
		display: none;
	}
	section {
		display: inline;
	}
	.section-one-background {
        border-radius: 3%;
        display: flex;
        align-content: center;
        grid-column: span 1/2;
		margin: 0 auto;
		top: 0;
		border-radius: 0%;
		height: 250px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#section-one {
        display: inline-block;
		margin-top: 7.5vh;
		margin-left: 5.5vh;
		width: 300px;
		height: 150px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#name {
		display: flex;
		font-size: 45px;
		margin-top: 30px;
		margin-left: 68px;
		justify-content: center;
	}
	#design {
		display: flex;
		font-size: 25px;
		justify-content: center;
		margin-top: -35px;
	}

	#welcome {
		display: none;
	}
	#design {
		display: flex;
		font-size: 15px;
	}
	.section-head {
		font-size: 45px;
		margin-top: 15px;
		background-color: rgba(65, 105, 96, 0.45);
		width: 200px;
		border-radius: 5%;
		box-shadow: 2px 10px 50px black;
		display: inline-block;
		text-align: center;
	}
	.section-text {
		display: inline-block;
		text-align: center;
		font-size: 15px;
		padding: 8px;
		width: 300px;
		border-radius: 5%;
		background-color: rgba(46, 112, 98, 0.45);
		height: 80px;
	}
	.icons {
		list-style: none;
		display: inline-flex;
		align-content: center;
		padding: 5px;
	}
	.icons-one {
        align-content: center;
		list-style: none;
		display: inline-grid;
		grid-template-rows: 50px 50px 50px;
        grid-template-columns: 60px 60px;
        width: 50px;
        column-gap: 20px;
        margin-top: -20px;
        margin-left: -20px;
	}
	#icons1 {
		width: 60px;
		height: 55px;
		border-radius: 5%;
        box-shadow: 2px 10px 20px black;
	}
	#skill1 {
        grid-column: 1;
		grid-row: 1;
	}
    #skill2 {
        grid-column: 1;
        grid-row: 2;
    }
    #skill3 {
        grid-column: 2;
        grid-row: 1;
    }
    #skill4 {
        grid-column: 2;
        grid-row: 2;
    }
    #skill5 {
        grid-column: 3;
        grid-row: 1;
    }
    #skill6 {
        grid-column: 3;
        grid-row: 2;
    }

    #icons {
		width: 50px;
		height: 45px;
		margin-bottom: 25px;
		padding: 2px;
	}
	#media {
		text-align: center;
	}
	.icon-section1 {
		display: flex;
		align-content: center;
	}
	.icon-section {
		margin-top: -10px;
		width: 100%;
		text-align: center;
		height: 50px;
	}
	#img-one {
		background-color: white;
		background-position: center;
		height: 50px;
		width: 55px;
        margin-right: 15px;
		border-radius: 10%;
		padding-right: 2px;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-two {
		background-color: white;
		background-position: center;
		height: 50px;
		width: 55px;
        margin-right: 15px;
		border-radius: 10%;
		padding-left: 5px;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-three {
		background-color: white;
		background-position: center;
		height: 50px;
		width: 55px;
        margin-right: 5px;
		border-radius: 10%;
		box-shadow: 1px 10px 20px #0c2942;
	}
	.section-two-background {
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 300px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-three-background {
		background-color: #dce8f3;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 300px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-four-background {
		background-color: #1b4d47;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 300px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-five-background {
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 300px;
		box-shadow: 2px 10px 50px #0c2942;
	}
    textarea,
    input {
		background-color: rgba(46, 112, 98, 0.45);
		font-family: 'Times New Roman', Times, serif;
		font-size: 15px;
		letter-spacing: 2px;
		border-radius: 5%;
        border-color:rgb(170, 187, 183)
	}
	.contact-form {
		font-size: 20px;
		line-height: 20px;
		border-radius: 5%;
	}
	#contact.inner-text {
		display: inline-block;
		justify-content: center;
	}
	#myForm {
		display: grid;
		grid-template-columns: repeat(3);
		grid-template-rows: repeat(2);
		row-gap: 10px;
		column-gap: 5px;
	}
	#full-name-input {
		grid-row: 1;
		grid-column: 1;
	}
	#email-input {
		grid-column: 1;
		grid-row: 2;
	}
	#message-input {
		grid-column: 2;
		grid-row: span 1 / 2;
	}
	.inner-text {
		display: inline-block;
		align-content: center;
		height: 50px;
	}
    .section-six-background {
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 200px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#bottom {
		position: relative;
		bottom: 0;
		margin-top: 20px;
	}
	#bottom-navbar {
		display: none;
	}
	#scroll {
		display: flex;
		align-items: center;
		font-size: 25px;
	}
    .icons-one {
		list-style: none;
		display: grid;
		grid-template-rows: repeat(3);
		grid-template-columns: repeat(2);
		margin-right: 50px;
		column-gap: 20px;
		row-gap: 20px;
	}
	#skill1 {
		grid-row: 1;
		grid-column: 1;
	}
	#skill2 {
		grid-column: 2;
		grid-row: 1;
	}
	#skill3 {
		grid-row: 2;
		grid-column: 1;
	}
	#skill4 {
		grid-row: 2;
		grid-column: 2;
	}
	#skill5 {
		grid-row: 3;
		grid-column: 2;
	}
	#skill6 {
		grid-row: 3;
		grid-column: 1;
	}
	.skill-image {
		display: flex;
		width: 75px;
		height: 100px;
	}
    #scroll {
        position: relative;
        bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
	body {
		background-color: rgb(170, 187, 183);
		margin: 0;
		width: 100%;
	}
	#head {
		display: none;
	}
	section {
		width: 100%;
		display: grid;
		grid-template-rows: 350px 500px 500px 300px 200px 40px;
		grid-template-columns: 50% 50%;
		row-gap: 40px;
		column-gap: 20px;
	}
	.section-one-background {
        border-radius: 3%;
		grid-column-start: span 2;
		margin: 0 auto;
		top: 0;
		width: 100%;
		border-radius: 0%;
		height: 350px;
		box-shadow: 2px 10px 50px #0c2942;
		display: grid;
		grid-row: 1;
	}
	#section-one {
		margin-top: 50px;
		margin-left: 150px;
		width: 500px;
		height: 250px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#name {
		display: flex;
		font-size: 65px;
		margin-top: 50px;
		text-align: center;
	}
	#design {
		display: flex;
		font-size: 45px;
		justify-content: center;
		margin-top: -35px;
	}
	#welcome {
		display: none;
	}
	
	.section-head {
		font-size: 65px;
		margin-top: 15px;
		background-color: rgba(65, 105, 96, 0.45);
		width: 200px;
		border-radius: 5%;
		box-shadow: 2px 10px 50px black;
		display: inline-block;
		text-align: center;
	}
	.section-text {
		display: inline-block;
		line-height: 30px;
		font-size: 20px;
		padding: 8px;
		width: 300px;
		border-radius: 5%;
		background-color: rgba(46, 112, 98, 0.45);
		height: 200px;
		margin-top: 20px;
	}
	.section-two-background {
		grid-column-start: span 2;
		grid-row: 2;
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 500px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-three-background {
		grid-column: 1;
		grid-row: 3;
		background-color: #dce8f3;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 500px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-four-background {
		grid-column: 2;
		grid-row: 3;
		background-color: #1b4d47;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 500px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.section-five-background {
		display: inline-flex;
		margin-top: 20px;
		grid-column-start: span 2;
		grid-row: 4;
		background-color: #0c2942;
		width: 100%;
		text-align: center;
		height: 300px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#contact.inner-text {
		margin-left: 180px;
		display: inline-block;
		justify-content: center;
	}
	.contact-form {
		font-size: 20px;
		line-height: 20px;
		border-radius: 5%;
		padding: 10px;
	}
	input {
		background-color: rgba(46, 112, 98, 0.45);
		font-family: 'Times New Roman', Times, serif;
		font-size: 15px;
		letter-spacing: 2px;
		border-radius: 10%;
	}
	textarea {
		height: 80px;
		width: 200px;
	}
	.contact-submit {
		font-size: 20px;
		font-weight: bold;
		border-radius: 5%;
	}
	button {
		display: flex;
		margin-top: -80px;
		margin-left: 140px;
		background-color: rgba(46, 112, 98, 0.9);
	}
	#myForm {
		display: grid;
		grid-template-columns: repeat(3);
		grid-template-rows: repeat(2);
		row-gap: 20px;
		column-gap: 20px;
	}
	#full-name-input {
		grid-row: 1;
		grid-column: 1;
	}
	#email-input {
		margin-top: -70px;
		grid-column: 1;
		grid-row: 2;
	}
	#message-input {
		grid-column: 2;
		grid-row: span 1 / 2;
	}
	.section-six-background {
		display: inline-block;
		grid-column-start: span 2;
		grid-row: 5;
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 250px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	.inner-text {
		display: inline-block;
		align-content: center;
		height: 50px;
	}
	#icons {
		display: inline-block;
		list-style: none;
		height: 65px;
		width: 70px;
		padding: 1px;
		border-radius: 5%;
		margin-top: -1px;
	}
	.icon-image {
		display: inline-flex;
		justify-content: center;
		margin-right: 20px;
	}
	.icon-section1 {
		display: flex;
		align-content: center;
		margin-top: -20px;
	}
	.icon-section {
		margin-top: -10px;
		width: 100%;
		text-align: center;
	}
	#img-one {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		padding-right: 2px;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-two {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-three {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		box-shadow: 1px 10px 20px #0c2942;
	}
	.icons-one {
		list-style: none;
		display: grid;
		grid-template-rows: repeat(3);
		grid-template-columns: repeat(2);
		margin-right: 50px;
		column-gap: 20px;
		row-gap: 20px;
	}
	#skill1 {
		grid-row: 1;
		grid-column: 1;
	}
	#skill2 {
		grid-column: 2;
		grid-row: 1;
	}
	#skill3 {
		grid-row: 2;
		grid-column: 1;
	}
	#skill4 {
		grid-row: 2;
		grid-column: 2;
	}
	#skill5 {
		grid-row: 3;
		grid-column: 2;
	}
	#skill6 {
		grid-row: 3;
		grid-column: 1;
	}
	.skill-image {
		display: flex;
		width: 75px;
		height: 100px;
	}
	.last-navbar {
		display: none;
	}
	#bottom {
		position: relative;
		margin-top: 40px;
		bottom: 0;
	}
	#scroll {
		width: 100%;
		height: 5px;
		font-size: 40px;
		margin-top: 5px;
		text-align: center;
	}
}






@media (min-width: 1024px) {
    body {
        margin: 0 auto;
        width: 100%;
        background-color: rgb(199, 211, 208);
    }
    #head {
        position: relative;
        top: 0;
        width: 100%;
        height: 150px;
    }
    .full-name {
        font-size: 30px;
        margin-top: -20px;
        margin-left: 30px;
    }
    .first-navbar {
        font-size: 20px;
        margin-top: 5px;
    }
    .sections {
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: 500px 700px 250px 400px 250px;
        row-gap: 50px;
    }
    .section-one-background {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        box-shadow: 1px 10px 20px #0c2942;
        border-radius: 3%;
		width: 100%;
		border-radius: 0%;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;
		display: grid;
    }

    #section-one {
		margin-top: 50px;
		margin-left: 450px;
		width: 800px;
		height: 400px;
		box-shadow: 2px 10px 50px #0c2942;
	}
	#name {
		display: flex;
		font-size: 65px;
		margin-top: 200px;
        margin-left: 160px;
	}
	#design {
		display: flex;
		font-size: 25px;
		justify-content: center;
		margin-top: 100px;
	}
	#welcome {
		display: flex;
        font-size: 45px;
        margin-top: -200px;
        margin-left: 230px;
	}



    .section-two-background {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: #0c2942;
		width: 100%;
		text-align: center;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;
    }

    .car-section {
        display: flex;
        margin-right: 50px;
        align-content: center;
        width: 100%;
        height: 400px;
    }
    .car-image {
        display: inline-block;
        padding: 30px;
    }
    #car-icon:hover {
        width: 350px;
        height: 250px;
    }
    #car-icon {
        border-radius: 5%;
        padding: 1px;
        background-color: #dce8f3;
        width: 250px;
        height: 150px;
    }

    .section-three-background {
        grid-row: 4;
        grid-column: 2;
        background-color: #949da5;
		margin-top: 20px;
		text-align: center;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;

    }
    .section-four-background {
        grid-row: 3;
        grid-column-start: 2;
        grid-column-end: 4;
        background-color: #1b4d47;
		margin-top: 20px;
        text-align: center;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;

    }
    .section-head {
        display: inline-block;
        margin-top: 8px;
        width: 200px;
        padding:10px;
        text-align:center;
        font-size: 50px;
        border-radius: 10%;
        background-color: #1d3e5c;
    }
    .section-five-background {
        grid-row: 4;
        grid-column: 3;
        display: inline-flex;
		margin-top: 20px;
		background-color: #395369;
		width: 100%;
		text-align: center;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;
    }

    #contact.inner-text {
		margin-left: 180px;
		display: inline-block;
		justify-content: center;
	}
	.contact-form {
		font-size: 20px;
		line-height: 20px;
		border-radius: 5%;
		padding: 10px;
	}
	input {
		background-color: rgba(134, 163, 180, 0.45);
		font-family: 'Times New Roman', Times, serif;
		font-size: 15px;
		letter-spacing: 2px;
		border-radius: 10%;
	}
	textarea {
		height: 80px;
		width: 200px;
        background-color: rgba(134, 163, 180, 0.45);
	}
	.contact-submit {
		font-size: 20px;
		font-weight: bold;
		border-radius: 5%;
	}
	button {
		display: flex;
		margin-top: -80px;
		margin-left: 140px;
		background-color: rgba(134, 163, 180, 0.45);
	}
	#myForm {
		display: grid;
		grid-template-columns: repeat(3);
		grid-template-rows: repeat(2);
		row-gap: 20px;
		column-gap: 20px;
	}
	#full-name-input {
		grid-row: 1;
		grid-column: 1;
	}
	#email-input {
		margin-top: -70px;
		grid-column: 1;
		grid-row: 2;
	}
	#message-input {
		grid-column: 2;
		grid-row: span 1 / 2;
	}

    .section-six-background {
        grid-row: 5;
        grid-column-start: 2;
        grid-column-end: 4;
        display: inline-block;
		background-color: #0c2942;
		margin-top: 20px;
		width: 100%;
		text-align: center;
		height: 100%;
		box-shadow: 2px 10px 50px #0c2942;
        margin-bottom: 40px;
    }
    #media-section {
        display: none;
    }
    .inner-text {
		display: inline-block;
		align-content: center;
		height: 50px;
	}
	#icons {
		display: inline-block;
		list-style: none;
		height: 65px;
		width: 70px;
		padding: 1px;
		border-radius: 5%;
		margin-top: -1px;
	}
	.icon-image {
		display: inline-flex;
		justify-content: center;
		margin-right: 20px;
	}
    #username {
        display: inline-flex;
        font-size: 25px;
        color:rgb(170, 187, 183);
    }
	.icon-section1 {
		display: flex;
		align-content: center;
		margin-top: -20px;
	}
	.icon-section {
		margin-top: 80px;
		width: 100%;
		text-align: center;
	}
	#img-one {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		padding-right: 2px;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-two {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		box-shadow: 1px 10px 20px #0c2942;
	}
	#img-three {
		background-color: white;
		background-position: center;
		height: 65px;
		width: 70px;
		border-radius: 10%;
		box-shadow: 1px 10px 20px #0c2942;
	}
	.icons-one {
		list-style: none;
		display: inline-flex;

	}
	#skill1,
    #skill2,
    #skill3,
    #skill4,
    #skill5,
    #skill6 {
		padding-right: 60px;
        padding-left: 60px;
	}
	.skill-image {
		display: flex;
		width: 75px;
		height: 100px;
	}

    .last-navbar {
        font-size: 20px;
        
    }
    #bottom-navbar {
        display: inline-flex;
        padding-right: 10px;
        padding-left: 10px;
    }
    #bottom {
        text-align: center;
        position: relative;
        bottom: 0;
        margin-top: 60px;
        height: 80px;
        width: 100%;
    }
    #scroll {
        display: none;
	}
    
}
